env/
.vscode/
__pycache__/
newsai/async_download_dev.py
newsai/test_hist_spark.ipynb
newsai/.ipynb_checkpoints/
newsai/cleaned_dataset.csv
newsai/nlp_basics.ipynb
newsai/nn-imbd.ipynb
newsai/sentiment.ipynb
newsai/sentiment_dictionary.csv
newsai/url_config.json
newsai/url_hist_config.json
newsai/word2vec.model
newsai/word2vec_test.ipynb